<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="serverConfig" class="com.spring.netty.config.ServerConfig">
        <property name="port" value="8080"/>
        <property name="serverImplMap">
            <map>
                <entry key="com.spring.service.HelloService" value="com.spring.service.HelloServiceImpl"></entry>
            </map>
        </property>
    </bean>
</beans>